.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0 1%;
}

.button {
  cursor: pointer;
  font: inherit;
  color: #000;
  background-color: #fafafa;
  padding: 0 1rem;
}
